[Desktop Entry]
Encoding=UTF-8
Name=Mageia Imagewriter
Name[fr]=Mageia Imagewriter
GenericName=USB key writer
GenericName[fr]=Créateur de clé USB bootable 
Exec=imagewriter_mageia %f
Icon=imagewriter_mageia
StartupNotify=false
Terminal=false
Type=Application
Categories=System;Utility;
