[Desktop Entry]
Encoding=UTF-8
Name=SUSE Studio Imagewriter
Name[fr]=SUSE Studio Imagewriter
GenericName=USB key writer
GenericName[fr]=Créateur de clé USB bootable 
Exec=imagewriter_suse %f
Icon=imagewriter_suse
StartupNotify=false
Terminal=false
Type=Application
Categories=System;Utility;
